<table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users;">
            <td>{{ user.nombre }}</td>
            <td>{{ user.email }}</td>
            <td>
            <button class="btn btn-warning">Editar</button>
            <button class="btn btn-danger">Crear</button>
            </td>
          </tr>
        </tbody>
      </table>